BasedOnStyle: Google
Language: Cpp
Standard: Cpp11

BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction:   true

AllowShortIfStatementsOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortLoopsOnASingleLine: false

ColumnLimit: 120

SpacesBeforeTrailingComments: 1
