BasedOnStyle: Google
Language: Cpp
Standard: Cpp11

BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction:   true

AllowShortIfStatementsOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None

ColumnLimit: 80

SpacesBeforeTrailingComments: 1
