[submodule "blt"]
	path = blt
	url = https://github.com/LLNL/blt.git
[submodule "src/umpire/tpl/conduit"]
	path = src/umpire/tpl/conduit
	url = https://github.com/LLNL/conduit.git
[submodule "src/umpire/tpl/cxxopts/cxxopts"]
	path = src/umpire/tpl/cxxopts/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
