[submodule "blt"]
	path = blt
	url = https://github.com/LLNL/blt.git
[submodule "src/umpire/tpl/conduit"]
	path = src/umpire/tpl/conduit
	url = https://github.com/LLNL/conduit.git
[submodule "src/umpire/tpl/cxxopts"]
	path = src/umpire/tpl/cxxopts
	url = https://github.com/LLNL/cxxopts.git
[submodule "src/umpire/tpl/influxdb"]
	path = src/umpire/tpl/influxdb
	url = https://github.com/orca-zhang/influxdb-cpp.git
