services: docker
dist: trusty
language: cpp
env:
  global:
  - DO_BUILD=yes
  - DO_TEST=yes
  - GTEST_COLOR=1
matrix:
  include:
  - compiler: gcc4
    env:
    - COMPILER=g++
    - IMG=gcc-4
    - CMAKE_EXTRA_FLAGS="-DENABLE_C=On"
  - compiler: gcc5
    env:
    - COMPILER=g++
    - IMG=gcc-5
    - CMAKE_EXTRA_FLAGS="-DCMAKE_BUILD_TYPE=Debug -DENABLE_COVERAGE=On -DENABLE_C=On"
    - DO_MEMCHECK=yes
  - compiler: gcc6
    env:
    - COMPILER=g++
    - IMG=gcc-6
    - CMAKE_EXTRA_FLAGS="-DENABLE_C=On"
  - compiler: gcc7
    env:
    - COMPILER=g++
    - IMG=gcc-7
  - compiler: gcc8
    env:
    - COMPILER=g++
    - IMG=gcc-8
    - CMAKE_EXTRA_FLAGS="-DCMAKE_BUILD_TYPE=RelWithDebInfo"
  - compiler: clang4
    env:
    - COMPILER=clang++
    - IMG=clang-4
  - compiler: clang5
    env:
    - COMPILER=clang++
    - IMG=clang-5
  - compiler: clang6
    env:
    - COMPILER=clang++
    - IMG=clang-6
  - compiler: clang6-debug
    env:
    - COMPILER=clang++
    - IMG=clang-6
    - CMAKE_EXTRA_FLAGS="-DCMAKE_BUILD_TYPE=Debug"
  - compiler: nvcc
    env:
    - COMPILER=g++
    - IMG=nvcc-9
    - CMAKE_EXTRA_FLAGS="-DENABLE_CUDA=On"
    - DO_TEST=no
  - compiler: hcc
    env:
      - COMPILER=hcc
      - IMG=rocm
      - CMAKE_EXTRA_FLAGS="-C ../host-configs/rocm.cmake -DCMAKE_CXX_COMPILER=/opt/rocm/bin/hcc -DENABLE_HCC=On -DENABLE_OPENMP=Off -DENABLE_CUDA=Off -DENABLE_BENCHMARKS=Off -DENABLE_WARNINGS_AS_ERRORS=Off"
      - DO_TEST=no

script:
- docker run --rm --user='root' -v ${TRAVIS_BUILD_DIR}:/home/axom axom/compilers:$IMG chown -R axom /home/axom
- docker run --rm  -v ${TRAVIS_BUILD_DIR}:/home/axom -e COMPILER -e DO_BUILD -e DO_TEST -e DO_MEMCHECK -e CMAKE_EXTRA_FLAGS -e GTEST_COLOR axom/compilers:$IMG ./scripts/travis/build_and_test.sh

after_success:
- if [[ "${CMAKE_EXTRA_FLAGS}" == *"ENABLE_COVERAGE"* ]] ; then bash <(curl -s https://raw.githubusercontent.com/codecov/codecov-bash/0b376529f626b50b7d4a9fb734e0e50d28b9b91e/codecov) >& /dev/null; fi
