variables:
  DO_BUILD: 'yes'
  DO_TEST: 'yes'
  DO_INSTALL: 'yes'
  COMPILER: 'g++'

jobs:
- job: Windows
  pool:
    vmImage: 'windows-2019'
  variables:
    CMAKE_EXTRA_FLAGS: '-DENABLE_WARNINGS_AS_ERRORS=Off -DENABLE_TOOLS=Off -DENABLE_BENCHMARKS=Off -DBLT_CXX_STD="" -DCMAKE_CXX_STANDARD=17'
  steps:
  - checkout: self
    clean: boolean
    submodules: recursive
  - task: CMake@1
    inputs:
      workingDir: 'build'
      cmakeArgs: '$(CMAKE_EXTRA_FLAGS) ../'
  - task: VSBuild@1
    inputs:
      solution: 'build/*.sln'
      vsVersion: 'latest'
    condition: eq( variables['Agent.OS'], 'Windows_NT')
    displayName: 'Visual Studio Build'
  - task: VSTest@2
    inputs:
      configuration: 'Release'
    condition: eq( variables['Agent.OS'], 'Windows_NT')
  - task: PublishTestResults@2
    inputs:
      testResultsFormat: 'cTest'
      testResultsFiles: '**/Test.xml'
- job: Docker
  strategy:
    matrix: 
      gcc5: 
        docker_target: gcc5
      gcc6:
        docker_target: gcc6
      gcc7:
        docker_target: gcc7
      gcc8:
        docker_target: gcc
      clang4:
        docker_target: clang4
      clang5:
        docker_target: clang5
      clang6:
        docker_target: clang
      nvcc:
        docker_target: nvcc
      hip:
        docker_target: hip
  pool:
    vmImage: 'ubuntu-latest'
  variables:
    DOCKER_BUILDKIT: '1'
    CMAKE_EXTRA_FLAGS: '-DENABLE_DEVELOPER_DEFAULTS=On'
  steps:
  - checkout: self
    clean: boolean
    submodules: recursive
  - task: Docker@1
    inputs:
      command: build
      dockerFile: Dockerfile
      arguments: '--target $(docker_target)'
  - script: |
      CID=$(docker create llnl/umpire:$(Build.BuildId))
      echo ${CID}
      docker cp ${CID}:/home/axom/workspace/build local-build
      docker rm ${CID}
    displayName: 'Copy test artifacts'
    condition: ne( variables['docker_target'], 'nvcc')
  - task: PublishTestResults@2
    inputs:
      testResultsFormat: 'cTest'
      testResultsFiles: '**/Test.xml'
- job: Mac 
  pool:
    vmImage: 'macOS-latest'
  variables:
    CMAKE_EXTRA_FLAGS: '-DENABLE_DEVELOPER_DEFAULTS=On'
  steps:
  - checkout: self
    clean: boolean
    submodules: recursive
  - task: CMake@1
    inputs:
      workingDir: 'build'
      cmakeArgs: '$(CMAKE_EXTRA_FLAGS) ../'
  - script: |
      cd build
      make
    displayName: 'OSX Build'
    condition: eq( variables['Agent.OS'], 'Darwin')
  - script: |
      cd build
      ctest -T test
    displayName: 'OSX Test'
    condition: eq( variables['Agent.OS'], 'Darwin')
  - task: PublishTestResults@2
    inputs:
      testResultsFormat: 'cTest'
      testResultsFiles: '**/Test.xml'
